{% extends 'base.html' %} {% load static %} {% block meta %}
<link rel="stylesheet" href="{% static 'css/land_page_style.css'%}" />
<title>Learning eNvironment</title>
{% endblock meta %} {% block content %}
    <nav class="navbar d-relative navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">LeaN</a>
        <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto" id="customNavbar">
            <li class="nav-item">
                <a class="nav-link" href="#">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact Us</a>
            </li>
            </ul>
            <button class="btn btn-primary btn-outline-success my-2 my-sm-0" type="submit">Login</button>
        </div>
    </nav>
    <div class="container-fluid custom-bg" id="fillScreen">
        <div class="square">
            <div class="header-content">
                <div class="title">LeaN</div>
                <div class="main-content">
                    LeaN is the world's #1 education system centered on teacher-student
                    interaction.
                    <!-- lmao, obviously not -->
                </div>
            </div>
        </div>
        <img src="{% static 'img/background.jpg' %}" alt="" />
    </div>
    <div class="container-fluid about-content">
        <div class="title">ABOUT US</div>
        <div class="main-content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis tenetur
            atque temporibus corrupti, perspiciatis dolores suscipit earum consequuntur
            molestiae in, architecto voluptates obcaecati. Dicta corporis provident
            aliquam eos modi quaerat. Deleniti dolorem error temporibus incidunt aliquid
            quia et minima placeat, quae fugit! Consequatur vel veniam quibusdam? Quia
            accusantium ut iusto eligendi repellendus officia itaque magnam recusandae,
            possimus repudiandae eveniet minus! Ipsa itaque, minus sapiente molestias
            nihil accusantium quam placeat aliquam? Nam similique perspiciatis maiores
            quibusdam sint, nisi reprehenderit aliquam odit beatae officia illum autem
            consequatur rerum suscipit, quis, deleniti cumque! Accusamus, ullam minus!
            Cumque excepturi magnam eligendi a perspiciatis dolorem laudantium alias eos
            suscipit qui obcaecati nam voluptas quos, beatae iste deserunt vitae neque.
            Nam et quis nisi consequuntur itaque. Hic, eaque accusantium. Quaerat in,
            odio nemo consequatur numquam, provident voluptate praesentium obcaecati qui
            adipisci, inventore deserunt! At beatae ipsum obcaecati inventore quam
            eveniet, impedit itaque dolorem porro ducimus sapiente. Dignissimos
            architecto provident error at possimus distinctio totam inventore officia
            voluptatibus cumque! Praesentium blanditiis porro nihil similique, sed,
            labore voluptates, illo quasi libero veniam explicabo alias molestias
            architecto velit ipsa! Repudiandae corporis temporibus quam vitae! Tenetur
            esse dicta iure vero mollitia autem, consequatur vitae inventore nisi minima
            harum quam aliquam praesentium ut sapiente omnis placeat facilis optio quos
            soluta suscipit! Suscipit omnis at velit repellat cumque ea ex nihil labore
            pariatur, sunt laboriosam explicabo? Mollitia nesciunt impedit tenetur. Vel
            molestiae rerum, repudiandae facilis eum perferendis reprehenderit.
            Explicabo corrupti animi numquam! Quisquam, aliquam. Rerum quaerat totam quo
            earum voluptate eveniet ipsa magni, magnam vitae qui saepe laborum
            accusantium ea. Dolorem, officiis aliquam neque saepe eveniet reiciendis
            accusamus ratione quisquam iste temporibus? Cumque dolorem neque nulla
            deserunt quidem assumenda voluptatem sint fugit? Sequi nisi enim repellat
            commodi doloribus doloremque vel iste rerum! Atque sint eius dicta facilis
            placeat corporis nisi? Totam, ab.
        </div>
    </div>

    <script
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"
    ></script>
    <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"
    ></script>
    <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"
    ></script>

{% endblock content %}
