{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Task Viewer</title>
    <style>
       * {
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      }

      .nama-subjek {
         text-align: left;
         margin-left: 10px;
         margin-top: 10px;
       }

       .tombol{
          margin-top: 2rem;
          padding-top: 10px 15px;
          text-align: center;
        }
  
        .btn{
          width: 8rem;
          height: 3rem;
          text-align: center;
          background-color: #7064d4;
          border: none;
          color: #7064d4;
          font: bolder 16px;
          border-radius: 3px;
        }

    </style>
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/sb-admin-2.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
<div id="wrapper">

  <!-- Sidebar -->
  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
          <div class="sidebar-brand-icon rotate-n-15">
              <i class="fas fa-laugh-wink"></i>
          </div>
          <div class="sidebar-brand-text mx-3 text-capitalize">LeaN</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
          <a class="nav-link" href="/dashboard/{{user}}/teacher">
              <i class="fas fa-fw fa-tachometer-alt"></i>
              <span>Dashboard</span></a>
      </li>
      {% block navbar %}

      

      {% endblock navbar %}

      
      

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

      

  </ul>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

          <div class="d-sm-flex align-items-center justify-content-between mb-4">
              <h1 class="h3 mb-0 text-gray-800"style ="margin-left: 3%; font-size: 250%">Submission</h1>
                  
          </div>
          <h1 class="nama-subjek" style="color: blueviolet; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; margin-left: 3%; font-size: 200%;">{{subject}}</h1>
          </br>
          </br>
          <div class="container-fluid" style="width: 97%">

              
             
            <h1 class="nama-subjek" style="color: black; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;"> {{ subject.name }}</h1>
          </br>
        
          <div class="container p-3 my-3 bg-dark">
            <h5 style="text-align: center; color: white; margin-bottom: 15px;">{{tugas.Name}}</h5>
            <p style="color: white; padding-left: 5px;">{{tugas.Description}} tugas ini harus dikumpulkan tepat waktu</p>
            <p style="color: white; padding-left: 5px;">Deadline: {{tugas.deadline}}</p>
          </div>
        
          <form method="post" enctype="multipart/form-data" style="text-align: center;">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="tombol">
              <button class="btn" type="submit" value="Login">Upload</button>
              </div>
            <!-- <button type="submit">Upload</button> -->
          </form>
        
          <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
            <script>
                function uploadFile() {
                    var data = new FormData();
                    data.append("file", $("input[id^='file']")[0].files[0]);
                    data.append("csrfmiddlewaretoken", "{{ csrf_token }}");
                    $.ajax({
                        method: "POST",
                        url: "/upload/",
                        processData: false,
                        contentType: false,
                        mimeType: "multipart/form-data",
                        data: data,
                        success: function(res) {
                            console.log(res)
                        }
                    })
                }
            </script>
        
    


      </div>



  </div>

</div>

  </body>
</html>
