body {
  margin: 0;
  color: white;
  background-color: #181c2c;
}

.navbar {
  background-color: transparent !important;
}

.btn-primary{
    background-color: #7064d4 !important;
    color: white;
    border-color: white;
    font-size: x-large;
}

.btn-primary:hover {
    background-color: transparent !important;
    color: rgb(11, 252, 11);
    border-color: rgb(11, 252, 11);
}

.custom-bg {
  display: flex !important;
  flex-direction: row;
  padding: 0;
}

.custom-bg img {
  width: 50vw;
}

#fillScreen {
  height: 100vh;
  width: 100vw;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7064d4;
  width: 50vw;
  padding: 50px;
}

.header-content .title {
  margin-bottom: 1.2vw;
  font-size: 3.3vw;
  font-family: "Inter", sans-serif;
}

.header-content .main-content {
  font-size: 1.5vw;
}

.about-content {
    padding: 20px;
}

.about-content .title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 50px;
}

.main-content .main {
    display: flex;
    padding: 10px;
    border-radius: 20px;
    justify-content: space-around;
    text-align: center;
}

.main span h1 {
    font-size: x-large;
    margin-top: 20px;
}

.main-content .main span {
    display: flex;
    flex-direction: column;
    align-items: center;
}

span .desc {
    padding-top: 10px;
    padding-bottom: 10px;
}

span img {
    width: 100px;
}

.intuitive {
    filter: invert();
}

.about-content span .desc {
    justify-self: end;
}

.friendly {
    filter: invert();
}

.about-content .main-content div:nth-of-type(3) {
    text-align: center;
}

.suggestion-form {
    color: black;
    background-color: white;
}

form[class="container"] {
    background-color: whitesmoke;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
}

form legend {
    text-align: center;
}

.btn-secondary {
    font-size: 20px !important;
}