{% extends "index.html" %}

{% block navbar %}



{% endblock navbar %}

{% block firstrow %}
<div class="col">
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div
            class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Comments</h6>
            
        </div>
        <!-- Card Body -->
        <div class="card-body">
            <div class="chart-area">
                <canvas id="myAreaChart"></canvas>
            </div>
        </div>
    </div>
</div>

<!-- Pie Chart -->
<div class="col">
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div>
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Calendar</h6>
            </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
            
            </div>
        </div>
    </div>
</div>

{% endblock firstrow %}

{% block secondrow %}
{% for subject in subjects %}
<div class="row px-4 pb-4 ">
    <div class ="col ">

        <div class="card shadow ">
            <div class="card-body">
              <h5 class="card-title">{{subject}}</h5>
              <a href='http://127.0.0.1:8000/taskmanager/{{user}}/{{subject.id}}/{{subject.Name}}-{{subject.Class}}' style="margin-top: 10px; margin-left: 3%; font-size:larger; color: whitesmoke;" class="btn button-color btn-primary">Task Manager</a>
              
            </div>
        </div>

    </div>
    
</div>
{% endfor %}

   


{% endblock secondrow %}


