{% extends "index.html" %}

{% block navbar %}

<li class="nav-item active">
    <a class="nav-link" href="index.html">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Task Viewer</span></a>
</li>

<li class="nav-item active">
    <a class="nav-link" href="index.html">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Grade Viewer</span></a>

<li class="nav-item active">
    <a class="nav-link" href="index.html">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Task Manager</span></a>
</li>
</li>



{% endblock navbar %}

{% block firstrow %}

    
    <!-- Pie Chart -->
    <div class="col">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div>
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Profile</h6>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <h6 class="m-0 font-weight-bold text-primary">{{ userprofile.name }}</h6>
                <p></p>
                <p>{{ userprofile.birth_date }}</p>
                <p>{{ userprofile.address }}</p>
                
                <button type="button" class="btn btn-secondary btn-sm" href="/dashboard/editprofile">Small button</button>

            </div>
            </div>
        </div>
    </div>

    {% endblock firstrow %}

        